@{
    ViewData["Title"] = "Home Page";
}

<div class="record-service">
    <div class="record-text">
        <p>Quick recording at a convenient time at a service station</p>
    </div>
    <div>
        <button type="button" class="record-button">
            Record to...
        </button>
        <button type="button" class="record-button">
            Remove...
        </button>
    </div>
</div>
<div class="autoservice-info">
    <div class="service-info">
        <div class="services-text">
            <p>Service</p>
        </div>
        <div>
            <button type="button" class="show-button">
                Show
            </button>
        </div>
    </div>
    <div class="staff-info">
        <div class="staff-text">
            <p>Staff</p>
        </div>
        <div>
            <button type="button" class="show-button">
                Show
            </button>
        </div>
    </div>
</div>
